{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>



    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/bg-6.jpg' %});">
        <div class="bradcumbContent">
            <h2> Reservation Done &#128525; </h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Book Now Area Start ##### -->
    <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="book-now-form">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Book Now Area End ##### -->

    <!-- ##### Rooms Area Start ##### -->
    <section class="rooms-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2>Unit name : {{unit}}</h2>
                        <h4>Reservation created at : {{create}}.</h4>
                        <h4>Reservation start : {{date_from}}.</h4>
                        <h4>Reservation end : {{date_to}}.</h4>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Rooms Area -->

                <div class="col-12 col-md-6 col-lg-4">

                </div>
                

            </div>
        </div>
    </section>
    <!-- ##### Rooms Area End ##### -->


</body>


{% endblock body %}