
{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/bg-6.jpg' %});">
        <div class="bradcumbContent">
            <h2> Reservation Failed &#128533; </h2>
        </div>
    </section>
    <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="book-now-form">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="rooms-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                    {% if not1 %}
                        <h2>{{not1}}</h2>
                    {% elif not2 %}
                             <h4>Sorry, but the room will be vacant until {{not2.book_ends_is}}, You can book another room</h4>
                             <a href="{%url 'unit:unit_list' %}" class="book-room-btn btn palatin-btn"> From here </a>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                </div>
                
            </div>
        </div>
    </section>
</body>
{% endblock body %}
























































