{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="cssload-container">
            <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
    </div>



    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/bg-6.jpg' %});">
        <div class="bradcumbContent">
            <h2>Rooms</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Book Now Area Start ##### -->
    <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="book-now-form">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Book Now Area End ##### -->

    <!-- ##### Rooms Area Start ##### -->
    <section class="rooms-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="section-heading text-center">
                        <div class="line-"></div>
                        <h2>Choose a room</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Rooms Area -->
            {% for unit in units %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                        <!-- Thumbnail -->
                        <div class="bg-thumbnail bg-img" style="background-image: url({{unit.image.url}});"></div>
                        <!-- Price -->
                        <p class="price-from">From ${{unit.price}}/night</p>
                        <!-- Rooms Text -->
                        <div class="rooms-text">
                            <div class="line"></div>
                            <h4>{{unit.name}}</h4>
                            <p>{{unit.description|safe|truncatewords:2}}.</p>
                        </div>
                        <!-- Book Room -->
                        <a href="{{unit.get_absolute_url}}" class="book-room-btn btn palatin-btn">Book Room</a>
                    </div>
                </div>

            {% endfor %}
                
                <div class="col-12">
                    <!-- Pagination -->
                    {% if units.has_other_pages %}
                    <div class="pagination-area wow fadeInUp" data-wow-delay="400ms">
                        <nav>
                                <ul class="pagination">
                                    {% for i in units.paginator.page_range %}
                                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}.</a></li>
                                    {% endfor %}
                                </ul>
                        </nav>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Rooms Area End ##### -->


</body>


{% endblock body %}