{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block body %}



<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/bg-7.jpg' %});">
        <div class="bradcumbContent">
            <h2>News</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Book Now Area Start ##### -->
    <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-14">
                    <div class="book-now-form">
                        <form action="#" method='POST'>
                            {% csrf_token %}
                            <!-- Form Group -->
                            {% bootstrap_form form %}

                            <!-- Button -->
                            
                            <button type="submit" >Book Now</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Book Now Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="palatin-blog-posts">

                        <!-- ##### Single Blog Post ##### -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb">
                                <img src="{{unit.image.url}}" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <!-- Post Date-->
                                <a href="#" class="post-date btn palatin-btn">{{unit.created_at.date}}</a>
                                <!-- Post Title -->
                                <a href="#" class="post-title">{{unit.name}}</a>
                                <!-- Post Meta -->
                                <div class="post-meta d-flex justify-content-center">
                                    <!-- Catagory -->
                                    <a href="#" class="post-catagory">In Hotel</a>
                                    <!-- Comments -->
                                    <a href="#" class="post-comments">3 comments</a>
                                </div>
                                <!-- Post Excerpt -->
                                <p>{{unit.description|safe}}</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
</body>
{% endblock body %}