{% extends 'base.html' %}
{% load static %}
{% block body %}


<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/bg-7.jpg' %});">
        <div class="bradcumbContent">
            <h2>News</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Book Now Area Start ##### -->
    <div class="book-now-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-14">
                    <div class="book-now-form">
                        <form action="#" method='POST'>
                            {% csrf_token %}
                            <!-- Form Group -->
                            <div class="form-group" >
                                <label for="select1" >Check In</label>
                                <select class="form-control" id="select1" name="check_in">
                                  <option>2023-10-12</option>
                                  <option>2023-10-13</option>
                                  <option>2023-10-14</option>
                                  <option>2023-10-15</option>
                                  <option>2023-10-16</option>
                                  <option>2023-10-17</option>
                                  <option>2023-10-18</option>
                                </select>
                            </div>

                            <!-- Form Group -->
                            <div class="form-group" >
                                <label for="select2">Check Out</label>
                                <select class="form-contro2" id="select2" name="check_out">
                                  <option>2023-10-19</option>
                                  <option>2023-10-20</option>
                                  <option>2023-10-21</option>
                                  <option>2023-10-22</option>
                                  <option>2023-10-23</option>
                                  <option>2023-10-24</option>
                                  <option>2023-10-25</option>
                                  <option>2023-10-26</option>
                                </select>
                            </div>

                            <!-- Form Group -->
                            <div class="form-group" >
                                <label for="select3">Adults</label>
                                <select class="form-control" id="select3" name="adults">
                                  <option>02</option>
                                  <option>03</option>
                                  <option>04</option>
                                  <option>05</option>
                                  <option>06</option>
                                </select>
                            </div>

                            <!-- Form Group -->
                            <div class="form-group" >
                                <label for="select4">Childrens</label>
                                <select class="form-control" id="select4" name="children">
                                  <option>01</option>
                                  <option>02</option>
                                  <option>03</option>
                                  <option>04</option>
                                  <option>05</option>
                                </select>
                            </div>

                            <!-- Button -->
                            <button type="submit" >Book Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Book Now Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="palatin-blog-posts">

                        <!-- ##### Single Blog Post ##### -->
                        <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                            <!-- Post Thumb -->
                            <div class="blog-post-thumb">
                                <img src="{{unit.image.url}}" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <!-- Post Date-->
                                <a href="#" class="post-date btn palatin-btn">{{unit.created_at.date}}</a>
                                <!-- Post Title -->
                                <a href="#" class="post-title">{{unit.name}}</a>
                                <!-- Post Meta -->
                                <div class="post-meta d-flex justify-content-center">
                                    <!-- Catagory -->
                                    <a href="#" class="post-catagory">In Hotel</a>
                                    <!-- Comments -->
                                    <a href="#" class="post-comments">3 comments</a>
                                </div>
                                <!-- Post Excerpt -->
                                <p>{{unit.description|safe}}</p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->
</body>
{% endblock body %}