{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block h2 %}  
<h2>Login</h2>        
{% endblock h2 %}


{% block contant%}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
<div class="col-12 col-lg-6">
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit"  class="btn palatin-btn mt-50" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</div>
  {# Assumes you setup the password_reset view in your URLconf #}
  <a href="{% url 'accounts:signup' %}" class="btn palatin-btn mt-50" >Sgin Up </a>

{% endblock %}
